# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.GameOfLifePrimitive.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\User\source\repos\GameOfLifePrimitive\.idea\.idea.GameOfLifePrimitive\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
